body {}

a, a:hover, a:focus {
    /* color: #2c3e50; */
    cursor: hand; cursor: pointer;
}

textarea {
    font-family: "DroidSans", "CourierNew", "Courier";
}

.panel-body hr {
  border-top: 1px solid darkgrey;
}

.main-container {
}

.navbar-default {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-text {
  color: white;
}

.navbar-brand {
    font-weight: bold;
}

.alert {
  border-radius: 0;
  padding: 8px 15px 8px 15px;
}

.alert-dismissable .close {
  right: 0;
}

.status-line {
  padding: 8px 15px;
  margin-bottom: 21px;
  list-style: none;
  /* background-color: #ecf0f1; */
  border-radius: 0;
}
.status-line > li {
  display: inline-block;
  padding-right: 15px;
}

.bg-danger {
  /* background-color: #f2dede; */
  color: #333;
  font-weight: bold;
}

.linkpointer {
    cursor: pointer;
}

.mar-left-10 {
    margin-left: 10px;
}

.pad-left-5 {
    padding-left: 5px;
}

.pad-left-10 {
  padding-left: 10px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-12 {
  padding-top: 12px;
}

.not-allowed {
    cursor: not-allowed;
}

.green { color: #006400;}
.yellow {color: #ffd700;}
.red {color: #800000;}
.grey {color: #66a266;}
.blue {color: #2c3e50;}
.white {color: white;}
.outline {color: #b0c4de;}

.big-number {
  font-size: 1.5em;
  /* color: #00ccff; */
  font-weight: bold;
  /* text-align: center; */
  padding: 0;
  margin: 0;
}
.input-big-number {
  font-size: 1.5em;
  /* color: #00ccff; */
  font-weight: bold;
  /* text-align: center; */
  padding: 0 0 0 10px;
  margin: 0;
}

.mon-status {
  background-color: green;
  padding: 20px 0 20px 0;
  display: table-cell;
  vertical-align: middle;
}

.spend {
  background-color: white;
  padding: 20px 0 20px 0;
}

.traffic-heading {
  padding: 5px;
  /* background-color: #777; */
  color: #f8f8ff;
  /* border-bottom: 1px solid #777; */
}

.traffic-body {
  background-color: white;
  color: black;
  height: 100px;
}

.traffic-footer {
  padding: 5px;
  /* background-color: #777; */
  /* border-top: 1px solid #777; */
  color: #f8f8ff;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.deployment-row {
}

.slider-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.slider-handle {
  height: 30px;
  width: 30px;
}

.slider.slider-horizontal {
  width: 100%;
}

.slider.slider-horizontal .slider-track {
  height: 20px;
  background-image: none;
  background-color: lightblue;
  /* background-image: linear-gradient(to bottom, black 0, #f5f5f5 100%); */
}

.slider-selection {
  /* background-image: linear-gradient(to bottom, red 0, #f5f5f5 100%); */
  background-image: none;
  background-color: orange;
}

.panel-heading a, a:hover, a:focus {
  color: #ffffff;
  cursor: pointer;
}

.field-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrollable-div {
    height: 325px;
    margin-bottom: 0;
    overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/* this is to align row elements in different columns with h4 as used in the bootstrap css theme */
.h4-margin {
  margin-top: 10.5px;
}

.no-float {
  float: none;
}

.bg-white {
  color: #000000;
  background-color: #eeeeee;
}

.boxtext {
  padding: 5px 5px 5px 5px;
}

.form-control.num100 {
  width: 5em;
}

.form-control.port {
  width: 5em;
  margin-right: 5px;
}

.addon-pad {
  padding-left: 10px;
  padding-right: 10px;
}

/* Morris Charting Formating */

.mainChartContainer {
  /* min-width: 360px; */
  max-width: 500px;
  height: 250px;
  box-sizing: border-box;
  padding: 5px 10px;
  float: left;
  overflow: hidden;
}

.mChartTitle{
  font-family: 'Helvetica Neue';
  font-size: 12px;
  color: #93a2aa;
  margin: 0;
  font-weight: 500;
}

#mChart{
  height: 100px;
  margin: -10px -10px -10px -20px;
  circle{
    stroke-width: 3px;
  }
}

p.mChartDesc{
  border-top: 1px dashed #e3e3e4;
  color: #93a2aa;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-bottom: 7px;
  font-family: 'Helvetica Neue';
  font-size: 10px;
}

.sideDataUpdate{
  width: 70px;
  height: 130px;
  float: left;
  position: relative;
  background-color: white;
  border-left: 1px solid #e3e3e4;
  padding-left: 10px;
}

.dataTitle{
  font-family: 'Helvetica Neue';
  font-size: 12px;
  color: #93a2aa;
  margin-top: 25px;
  margin-bottom: 10px;
}

.dataValue{
  font-family: 'Helvetica Neue';
  font-style: upper-roman;
  font-weight: 400;
  font-size: 20px;
  color: #00b098;
}

.text-monitor {
  color: #93a2aa;
}


